 h1{
    text-align: center;
    color: red;
}

h2{
    background-color: rgb(164, 168, 29);
    text-align: center;
    color: #269;
}

h3{
    text-align: center;
}

body{
    background-color: black;
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(49, 40, 34);
    font-family: Arial;
}

.second {
    color: green;
    
}

.two {
    background-color: white;
}

#head {
    color:blueviolet;
}

div h2 {
    color: white;
    background-color: none;
}

div > p {
    color: white;
}

p{
    color: red;
}

div{
    background-color:rgb(6, 215, 146);
    padding: 5px;
    border-radius: 25px;
    margin: auto;
}

div button{
    border-radius: 20px;
}

input[type="text"] {
    border-color: #269;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

input[type="email"] {
    border-color: red;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

input[type="password"] {
    border-color: yellow;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
/* This is a comment */


/* IMAGE OPACITY */

img {
    opacity: 0.4;
    transition: 1s;
}
img:hover {
    opacity: 1;
}


/* CSS LINKS */

a {
    color: rgb(44, 204, 44);
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: yellow;
}
a:visited{
    color: white;
}

/* CSS LIST */

ul{
    list-style-type: circle;
    color: white;
    list-style-position: inside;
}

ol{
    list-style-type: lower-alpha;
    color: white;
    list-style-position: outside;
}
dl{
    color: white;
}

/* CSS TABLES */

table{
    border-collapse: collapse;
    border-radius: 20px;
    width: 65%;
    border: 2px solid black;
}

/* CSS POSITION */

.box1{
    position: relative;
    top: 20px;
    left: 30px;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    opacity: 0.5;
    transition: 1s;
}
.box1:hover{
    opacity: 1;
    width: 250px;
    height: 370px;
}


.box2{
    position: absolute;
    top: 50px;
    right: 100px;
}

.box3{
    position: sticky;
    top: 0;
}

.but{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
